body{
    background-color:#dcc7aa ;
}
header{
    background-color: #ff533d;
    /* margin: 0px 0px;
    padding: 0px 0px;
    border: 0px 0px; */
    height: 190px;
    width: 100%;
    position: relative;
    display: inline-block;
    width:f78828
}
.one{
 display: inline-block;
 height: 150px;
}
.two{
    display: inline-block;
    position: relative;
    left: 30px;
    margin: 0%;
    padding: 0%;
    border: 0%;
}
.brandname{
    width: 100%;
    font-size: 100px;
    font-style: italic;
    position: relative;
    bottom: 80px;
    left: 15%;
    text-decoration-line: underline;
    color: white;
    margin: 0%;
    padding: 0%;
    border: 0%;
}
.three{
    text-align: center;
}
#home{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
#home:{
    color: green;
}
#home:hover{
    color: blue;
    background-color: cyan;
}
#about{
    text-decoration: none;
    font-size: 30px;
    position: 
    left:40%;
    color: black;
}

#about:hover{
    color: blue;
    background-color: cyan;
}
#login{
    text-decoration: none;
    font-size: 30px;
    position: 
    left:15%;
    color: black;
}

#four{
    position: relative;
    width: 100%;
    height: 500px;
    /* background-color: rgb(6, 59, 107); */
}
#first{
    position: absolute;
    opacity: 0.7;
}
#i1{
    position: relative;
    height: 230px;
    width: 35%;
    z-index: 3;
}
#i2{
    position: relative;
    height: 230px;
    width: 40%; 
    left: 60%;
    bottom: 232px;
    z-index: 3;
}
#i3{
    position: absolute;
    left: 34%;
    top: 100px;
    width: 340px;
    height: 300px;
    z-index: 4;
}
#i4{
    position: relative;
    height: 230px;
    width: 35%;
    bottom: 200px;
    z-index: 1;
}
#i5{
    position: relative;
    height: 230px;
    width: 40%;
   left: 60%;
   bottom: 436px;
   z-index: 1;
}
#s1{
    position: relative;
}
.four{
    background-color: #0f1626;
    display: inline-block;
    text-align: center;
    border: 5px double black;
    height: 550x;
    width: 550px;
    position: relative;
    left: 5%;
}
#A{
    text-align: center;
    display: inline-block;
    background-color: white;
}
ul{
    color: white;
}
#python{
    width: 50%;
    height: 50%;
}
footer{
background-color: #ff533d;
height: 200px;
width: 100%;
}
.logo1{
    height: 50px;
    width: 50px;
}