.divOne{
    height: 2000px;
    width: 300px;
    border: 2px solid red;
     /* position: relative; */
 } 
.divtwo{
        height: 2000px;
        width: 300px;
        border: 4px solid yellow;
}


.one{
    height: 100px;
    width: 100px;
    border: 4px solid green;
    /* position: absolute; */
    position: sticky;
    top: 0px;
}
.two{
    height: 50px;
    width: 50px;
   border: 4px solid blue;
   position: fixed;
   top: 700px;
   left: 1200px;
   border-radius: 50px;
   text-align: center;
   cursor: pointer;
}