.parent1{
background-color: red;
height: 200px;
width: 200px;
}
.child1{
    font-weight: bolder;
}
.child2{
    font-weight: lighter;
}

#parent2 {
    background-color: rgb(128, 255, 212);
    height: 200px;
    width: 200px;
}
#bacha1{
    font-weight: bolder;
}
#bacha2{
    font-weight: lighter;
}

nav{
    background-color: brown;
    height: 50px;
}
a{
    background-color: black;
}