
   
    

.brand{
    text-decoration:underline;
    text-align: center;
    margin-bottom: 50px;
  }
.address{
    background-color: black;
    color: white;
  
}
.iso{
    float: right !important;
    height: 30px;
    width: 50px;
    margin-right: 10px;
    margin-top: 4px;
}
#first{
    text-align: center;
    
}
.exterior{
    background-color: lightskyblue;
    white-space: nowrap;
    overflow: scroll;
#int{
    white-space: nowrap;
    overflow: scroll;
}


}
.kitchen{
    white-space: nowrap;
    overflow: scroll;
}